@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>
<select id="ddlCustomers1">
    <option value="1">Hello</option>
    <option value="2">Hello1</option>
    <option value="3">Hello2</option>
    
</select>
<p>Use this page to detail your site's privacy policy.</p>
