<form method="post">
    <input type="text" name="firstnum" />
    <input type="text" name="secondnum" />
    <input type="text" name="resultnum"  value="@ViewBag.resultnum"/>
    <input type="submit" value="Add" />
</form>